<!DOCTYPE html>
<html dir="ltr" lang="en-US">

</html>

<head>

    <head>

        <!-- Custom React Component -->
        <script type="text/babel" src="{{ url_for('static', filename='js/navigator.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='js/loanData.js') }}"></script>
        <!-- Bootstrap CDNs-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Metas -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="LionCoders" />
        <!-- Links -->
        <link rel="icon" type="image/png" href="#" />
        <!-- google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
        <!-- Plugins CSS -->
        <link href="/static/css/plugin.css" rel="stylesheet" />
        <!-- style CSS -->
        <link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/dashboard.css" rel="stylesheet" />

        <!-- React CDNs-->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <!-- Custom CSS Style Sheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/investors.css') }}">


        <!-- Document Title -->
        <title>ZDAC - Grants</title>
    </head>

<body>

    <!--Page Wrapper starts-->
    <div class="page-wrapper fixed-footer mar-bb-30">
        <div id="navigator"></div>

        <!--User Profile starts-->
            <div class="col-lg-12 col-md-12 list-details-section section-padding user-profile section-padding " ;>
                <div style="height: 40px;background-color: black;"></div>
                <!--Dashboard content starts-->
                <div class="dash-content " style="background-color: black;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 2">
                                <div style="background-color: black;" class="recent-activity">
                                    <div class="act-title">
                                        <h5 style="color: white;"><i style="color: white;"
                                                class="ion-person"></i>Profile Details</h5>
                                    </div>
                                    <div class="profile-wrap">
                                        <div class="row">

                                            <!-- <div class="user-avatar">
                                        <img src="/static/images/user.jpg" alt="">
                                    </div> -->
                                            <div class="col-md-12 offset-md-0">
                                                <div class="my-profile">
                                                    <ul class="db-profile-info">
                                                        <li>
                                                            <h6>First Name :</h6>
                                                            <span> {{ fname }} </span>
                                                        </li>
                                                        <li>
                                                            <h6>Last Name :</h6>
                                                            <span> {{ lname }}</span>
                                                        </li>
                                                        <li>
                                                            <h6>Email Id :</h6>
                                                            <span> example@example.com</span>
                                                        </li>
                                                        <li>
                                                            <h6>Phone :</h6>
                                                            <span> +65 91234567</span>
                                                        </li>
                                                        <li>
                                                            <h6>Comapny name :</h6>
                                                            <span>Pineapple Pen</span>
                                                        </li>
                                                        <li>
                                                            <h6>Company nature :</h6>
                                                            <span> Startup</span>
                                                        </li> 
                                                        <li>
                                                            <h6>Industry :</h6>
                                                            <span> Technology </span>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Dashboard content ends-->
            </div>
            <!--User Profile ends-->
            <!--User profile details starts-->
            <div style="height: 3px;background-color: #44d62c;"></div>

            <div class="list-details-section section-padding" style="background-color: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="user_info_menu">
                                <ul class="nav nav-tabs list-details-tab" id="lionTab" role="tablist">
                                    <li class="nav-item active">
                                        <a data-toggle="tab" href="#grants">Grants</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle="tab" href="#loans">Loans <span class="text-grey"></span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle="tab" href="#crowdsource">Crowdsource</a>
                                    </li>

                                </ul>
                            </div>






                            <div class="tab-content" id="lionTabContent">
                                <div class="tab-pane fade active show" id="grants">
                                    
                                    
                                    <div class="col-md-12 mar-tb-30" id="yourgrantbox" style="border: #44d62c 1px solid;">
                                    <h6>Your Grant(s)</h6>
                                    <div class="col-md-4 mar-tb-30 text-center" style="border: #44d62c 1px solid;">
                                        <p>Innovation and Capability Voucher (ICV)</p>
                                        Awarded on 13 May 2020
                                    </div>
                                    </div>
                                    
                                    <div class="tab-content mar-tb-30" id="lionTabContent-1">
                                        <div class="tab-pane fade active show" id="my-followers">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="sidebar-widget follow">
                                                        <div class="follow-img">
                                                            <p>Product and Innovation Credit (PIC)</p></br>
                                                            Eligibility criteria:
                                                            </br></br>
                                                            <ol>
                                                                <li>Your company has to be registered and operate in
                                                                    Singapore</li>
                                                                <li>Your company has to have a minimum of 30% local
                                                                    shareholding</li>
                                                                <li>Your company needs to have a group annual turnover
                                                                    of not more than S$100 million or group employment
                                                                    size of not more than 200 employees</li>
                                                            </ol>
                                                        </div>

                                                        <div class="text-center" style="background-color: black;">
                                                            <a href="#" class="btn v3"
                                                                style="width:30%;margin: 10px 0px 10px 0px;"><i
                                                                    class="icofont-plus-circle"></i>
                                                                Apply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="sidebar-widget follow">
                                                        <div class="follow-img">
                                                            <p>Innovation and Capability Voucher (ICV)</p></br>
                                                            Eligibility criteria:
                                                            </br></br>
                                                            <ol>
                                                                <li>Your company has to be registered and operate in
                                                                    Singapore</li>
                                                                <li>Your company has to have a minimum of 30% local
                                                                    shareholding</li>
                                                                <li>Your company needs to have a group annual turnover
                                                                    of not more than S$100 million or group employment
                                                                    size of not more than 200 employees</li>
                                                            </ol>
                                                        </div>

                                                        <div class="text-center" style="background-color: black;">
                                                            <a href="#" class="btn v3"
                                                                style="width:30%;margin: 10px 0px 10px 0px;"><i
                                                                    class="icofont-plus-circle"></i>
                                                                Apply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="loans">
                                    <div class="tab-content mar-tb-30" id="lionTabContent-1">

                                        
                                        <div class="col-md-12 mar-tb-30" id="yourloanbox" style="border: #44d62c 1px solid;">
                                            <h6>Your Loan(s)</h6>

                                            

                                            <div class="col-md-12 mar-tb-20 text-center hero-catagory-wrapper v1" >
                                                {% for value in all_loans %}
                                                <a href="#" class="hero-category-content v1" style="border: #44d62c 1px solid;">
                                                    
                                                    <p style="color: #44d62c;"class="name">Loan ID : {{value.loanacc_key}} Loan Amount:  {{value.loan_amount}} </p>
                                                    <!--p class="d-name">Loan Details</p-->
                                                </a>
                                                {% endfor %}
                                               
                                            </div>
                                        </div>
                                        

                                        <div class="col-md-12 mar-tb-30" style="border: #44d62c 1px solid;"id="loanApplicationForm">
                                            
                                            <form id="loan-application-form col-md-6 " action="/loans_processing" method="post">

                                                <h6>Loan Application</h6>
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Loan Name</label>
                                                            <!--div class="nice-select filter-input" tabindex="0"><span class="current">Select Loan Type</span>
                                                                <ul class="list" id ="loanName" name="loanName">
                                                                    <li class="option selected focus" value="Student Loan">Student Loan</li>
                                                                    <li class="option" value = "SME Loan">SME Loan</li>
                                                                    <li class="option" value = "Startup Loan">Startup Loan</li>
                                                                </ul>
                                                            </div-->
                                                            <select id="loanName" name="loanName">
                                                                <option value="Student Loan">Student Loan</option>
                                                                <option value="SME Loan">SME Loan</option>
                                                                <option value="Startup Loan">Startup Loan</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Loan Amount</label>
                                                            <input type="text" class="form-control filter-input" placeholder="$SGD" id="loanAmount" name="loanAmount">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Interest Rate (%)</label>
                                                            <input type="text" class="form-control filter-input" value=0.10 disabled="disabled" placeholder="2.00" id="interestRate" name="interestRate" style="background-color: grey;">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Arrears Tolerance Period</label>
                                                            <input type="text" class="form-control filter-input" placeholder="1" id="arrearsTolerancePeriod">
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Grace Period</label>
                                                            <input type="text" class="form-control filter-input" placeholder="1" id="gracePeriod">
                                                        </div>
                                                    </div> -->

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Repayment Installment</label>
                                                            <input type="text" class="form-control filter-input" placeholder="10" id="repaymentInstallments" name="repaymentInstallments">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Repayment Period Count</label>
                                                            <input type="text" class="form-control filter-input" placeholder="1" id="repaymentPeriodCount" name="repaymentPeriodCount">
                                                        </div>
                                                    </div>

                                                    <!-- <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Periodic Payment</label>
                                                            <input type="text" class="form-control filter-input" placeholder="1" id="periodicPayment">
                                                        </div>
                                                    </div> -->

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Repayment Period Unit</label>
                                                            <!--div class="nice-select filter-input" tabindex="0"><span class="current">Select Loan Type</span>
                                                                <ul class="list" id ="repayment_period_unit">
                                                                    <li class="option selected focus" value = "WEEKS">WEEKS</li>
                                                                    <li class="option" value = "MONTHS">MONTHS</li>
                                                                    <li class="option" value = "YEARS">YEARS</li>
                                                                    
                                                                </ul>
                                                            </div-->
                                                            <select id="repayment_period_unit" name="repayment_period_unit">
                                                                <option value="WEEKS">WEEKS</option>
                                                                <option value="MONTHS">MONTHS</option>
                                                                <option value="YEARS">YEARS</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-12 text-center" style="background-color: black;">
                                                        <input type="submit" value="Apply" class="icofont-plus-circle" style="margin: 10px 0px 10px 0px;">
                                                    </div>

                                                    <!-- <div class="col-md-12">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="list_info">Description</label>
                                                                <textarea class="form-control" id="list_info" rows="4" placeholder="Enter your text here"></textarea>
                                                            </div>
                                                        </form>
                                                    </div> -->
                
                                                    <!-- <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Features</label>
                                                            <div class="filter-checkbox">
                                                                <input id="check-a" type="checkbox" name="check">
                                                                <label for="check-a">Elevator in building</label>
                                                                <input id="check-b" type="checkbox" name="check">
                                                                <label for="check-b">Air Conditioned</label>
                                                                <input id="check-c" type="checkbox" name="check">
                                                                <label for="check-c">Free Wi Fi</label>
                                                                <input id="check-d" type="checkbox" name="check">
                                                                <label for="check-d">Free Parking on premises</label>
                                                                <input id="check-f" type="checkbox" name="check">
                                                                <label for="check-f">Instant Book</label>
                                                                <input id="check-e" type="checkbox" name="check">
                                                                <label for="check-e">Pet Friendly </label>
                                                            </div>
                                                        </div>
                                                            
                                                            
                                                            <div class="res-box text-center mar-top-30">
                                                                <button type="submit" class="btn v3"><i
                                                                        class="ion-android-checkmark-circle"></i>Apply Loan
                                                                </button>
                                                            </div>


                                                        
                                                    </div> -->
                                                </div>
                                            
                                                
                                            </form>
                                            
                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="crowdsource">
                                    <div class="tab-content mar-tb-30" id="lionTabContent-1">


                                        <div class="col-md-12 mar-tb-30" id="yourloanbox" style="border: #44d62c 1px solid;">
                                            <h6>Your Project(s)</h6>
                                            <!-- Dynamic Loans -->
                                            <div id="loansdata"></div>
                                            <!-- <div class="col-md-12 mar-tb-20 text-center hero-catagory-wrapper v1" >
                                                <a href="#" class="hero-category-content v1" style="border: #44d62c 1px solid;">
                                                    
                                                    <p style="color: #44d62c;"class="name">Project ID : #123456</p>
                                                    <p class="d-name">
                                                        <ol>
                                                            <li>Project Details</li>
                                                            <li>Funds Raised</li>
                                                        </ol>
                                                    </p>
                                                    
                                                </a>
                                                <a href="#" class="hero-category-content v1" style="border: #44d62c 1px solid;">
                                                    
                                                    <p style="color: #44d62c;"class="name">Project ID : #223456</p>
                                                    <p class="d-name">Project Details</p>
                                                </a>
                                                
                                               
                                            </div> -->
                                        </div>

                                        <div class="col-md-12 mar-tb-30" style="border: #44d62c 1px solid;"id="loanApplicationForm">
                                            
                                            <form id="loan-application-form col-md-6 " action="/..." method="post">

                                                <h6>Crowdsource for your project!</h6>
                                                
                                                <div class="row">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Project Name</label>
                                                            <input type="text" class="form-control filter-input" placeholder="Project Title" id="projectName">
                                                        </div>
                                                    </div>

                                                    

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Funding Goals</label>
                                                            <input type="text" class="form-control filter-input" placeholder="$SGD" id="fundingGoals">
                                                        
                                                        </div>
                                                    </div>


                                                    <div class="col-md-12">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="list_info">Description</label>
                                                                <textarea class="form-control" id="list_info" rows="4" placeholder="Enter your text here"></textarea>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class=" col-md-12 text-center" style="background-color: black;">
                                                        <a href="#" class="btn v3"
                                                            style="margin: 10px 0px 10px 0px;"><i
                                                                class="icofont-plus-circle"></i>
                                                            Start Project!</a>
                                                    </div>

                                                    
                
                                                    <!-- <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Features</label>
                                                            <div class="filter-checkbox">
                                                                <input id="check-a" type="checkbox" name="check">
                                                                <label for="check-a">Elevator in building</label>
                                                                <input id="check-b" type="checkbox" name="check">
                                                                <label for="check-b">Air Conditioned</label>
                                                                <input id="check-c" type="checkbox" name="check">
                                                                <label for="check-c">Free Wi Fi</label>
                                                                <input id="check-d" type="checkbox" name="check">
                                                                <label for="check-d">Free Parking on premises</label>
                                                                <input id="check-f" type="checkbox" name="check">
                                                                <label for="check-f">Instant Book</label>
                                                                <input id="check-e" type="checkbox" name="check">
                                                                <label for="check-e">Pet Friendly </label>
                                                            </div>
                                                        </div>
                                                            
                                                            
                                                            <div class="res-box text-center mar-top-30">
                                                                <button type="submit" class="btn v3"><i
                                                                        class="ion-android-checkmark-circle"></i>Apply Loan
                                                                </button>
                                                            </div>


                                                        
                                                    </div> -->
                                                </div>
                                            
                                                
                                            </form>
                                            
                                        </div>

                                        
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--User profile details ends-->

    </div>
    <!--Page Wrapper ends-->
    <!--Footer Starts-->
    <div class="footer-wrapper no-pad-tb footer-fixed">
        <div class="footer-top-area section-padding" style="background-color: black;">

            <div class="container">
                <div class="row nav-folderized" style="height: 150px;">
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-logo">
                            <a class="navbar-brand" style="color:#44d62c">ZDAC</a>
                            <div class="company-desc">
                                <p>
                                    Razer Fintech Digital</br> Hackathon
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title" style="color: #44d62c;">Links</h2>
                            <ul class="list">
                                <li><a class="link-hov style1" href="#">Login</a></li>
                                <li><a class="link-hov style1" href="#">My Account</a></li>
                                <li><a class="link-hov style1" href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title" style="color: #44d62c;">Products</h2>
                            <ul class="list">
                                <li><a class="link-hov style1" href="#">Grant</a></li>
                                <li><a class="link-hov style1" href="#">Loans</a></li>
                                <li><a class="link-hov style1" href="#">Crowdfund</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title" style="color: #44d62c;">Powered By:</h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="#">Razer</a></li>
                                <li><a class="link-hov style2" href="#">AWS</a></li>
                                <li><a class="link-hov style2" href="#">VISA</a></li>
                                <li><a class="link-hov style2" href="#">Mambu</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title"></br></h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="#">Perx</a></li>
                                <li><a class="link-hov style2" href="#">FWD</a></li>
                                <li><a class="link-hov style2" href="#">PWC</a></li>
                                <li><a class="link-hov style2" href="#">SMU</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area" style="background-color: #44d62c;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p>&copy; 2019 ZDAC. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer ends-->

    <!--Scripts starts-->
    <!--plugin js-->
    <script src="/static/js/plugin.js"></script>
    <!--Main js-->
    <script src="/static/js/main.js"></script>
    <!--Scripts ends-->

    <script src="/static/js/index_validation.js"></script>





</body>

</html>